# Flask API
# Local: http://localhost:5000
# Production: https://your-railway-service.up.railway.app
NEXT_PUBLIC_API_URL=http://localhost:5000

# Google OAuth 2.0
# Must match backend GOOGLE_CLIENT_ID.
NEXT_PUBLIC_GOOGLE_CLIENT_ID=731868162769-nfkdclh4ct5l9uvib0vsooij16qh3v02.apps.googleusercontent.com